* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #f1f5f8;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

main {
  height: 100%;
}

img {
  object-fit: cover;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  padding-bottom: 100px;
  font-size: 50px;
  margin: 0;
}

.title::after {
  display: block;
  content: "";
  width: 100px;
  border: 3px solid rgb(88, 151, 223);
  margin: 10px auto;
}

.review {
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 30px;
  box-shadow: 2px 2px 6px #999;
  border-radius: 10px;
}

.img-container {
  width: 200px;
  height: 200px;
}

.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#author {
  margin-bottom: 0;
}

#job {
  text-transform: uppercase;
  color: rgb(88, 151, 223);
}

#info {
  text-align: center;
  line-height: 25px;
}

p {
  margin: 10px;
}
.button-container button {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}
.prev-btn {
  background: url(./image/left_arrow_img.PNG) no-repeat center center;
}

.next-btn {
  background: url(./image/right_arrow_img.PNG) no-repeat center center;
}

.random-btn {
  background: #f1f5f8;
  border: 2px solid rgb(63, 137, 223);
  color: rgb(61, 132, 212);
  border-radius: 10px;
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.random-btn:hover {
  background-color: rgb(193, 222, 250);
}
