* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header i {
  font-size: 20px;
}

.playing .header i {
  color: #fff;
}
.playlist-wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.playlist__section,
.playing__section {
  width: 360px;
  height: 700px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.playlist__image {
  width: 180px;
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1efef;
  border-radius: 10px;
  font-size: 70px;
  color: #d0d0d0;
  box-shadow: 0px 3px 10px -2px #d0d0d0;
  margin: 20px;
}

.playlist__section {
  overflow-y: scroll;
  padding: 30px 20px 50px;
  position: relative;
}

.playing__section {
  margin-left: 50px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2) 60%,
    rgba(0, 0, 0, 0.3)
  );
  padding: 30px 20px;
}

.playlist__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}

.playlist__music {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.playlist__music.playing {
  box-shadow: 2px 2px 20px #d0d0d0;
}

.playlist__music-column {
  display: flex;
  align-items: center;
}

.playlist__music-column:last-child {
  margin-left: 10px;
}

.playlist__music-image {
  position: relative;
  margin-right: 13px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.playlist__music.playing .playlist__music-image {
  background-color: rgba(225, 225, 225, 0.4);
}

.playlist__music-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.playing-bar-wrap {
  display: none;
}

.playlist__music.playing .playing-bar-wrap {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.playing-bar {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playing-bar__bar {
  background-color: #fff;
  width: 4px;
  border-radius: 1px;
}

.playing-bar__bar + .playing-bar__bar {
  margin-left: 3px;
}

.playing-bar__bar:first-child {
  height: 12px;
}

.playing-bar__bar:nth-child(2) {
  height: 22px;
}

.playing-bar__bar:last-child {
  height: 18px;
}

.playlist__music-singer,
.playlist__music-title {
  width: 200px;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playlist__music-singer {
  text-transform: capitalize;
  color: #a6a6a6;
  font-size: 15px;
}

.playlist__music-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
}

.playlist__music-column i {
  color: #222222;
}

.playlist__playing {
  position: sticky;
  width: 330px;
  border-radius: 10px;
  bottom: -37px;
  background-color: #f1efef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 10px rgb(184, 184, 184);
  color: #222222;
  padding: 10px 20px;
}

.playlist__playing .playlist__music-title,
.playlist__playing .playlist__music-singer {
  width: 130px;
}
.playlist__control-btns {
  display: flex;
}

.playlist__control-btns i {
  color: #222222;
}

.playlist__control-btns .play-btn,
.playlist__control-btns .pause-btn {
  margin: 0 15px;
}
.playlist__control-btns .pause-btn {
  font-size: 20px;
}

.playing__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playing__image {
  width: 180px;
  height: 180px;
  border-radius: 20px;
  margin: 70px 0 45px;
  box-shadow: 0px 5px 10px 3px #999;
}

.playing__section .music__info {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.music__title {
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 10px;
}

.music__singer {
  text-transform: capitalize;
  color: #e7e7e7;
}

.control-btn {
  border-radius: 50%;
  background-color: rgba(225, 225, 225, 0.4);
  border: 1px solid #d0d0d0;
  border-width: 0 2px 2px 0;
  width: 50px;
  height: 50px;
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.control-btn + .control-btn {
  margin-left: 30px;
}

.control-btn:hover {
  transform: scale(0.8);
}

.control-btn i {
  will-change: transform;
}

.music__slider {
  position: relative;
  margin: 0 0 70px;
}

.music__slider .current-time {
  color: #e7e7e7;
  position: absolute;
  top: 22px;
  left: 2px;
  font-size: 14px;
}

.music__slider .music-duration {
  color: #e7e7e7;
  position: absolute;
  top: 22px;
  right: 2px;
  font-size: 14px;
}

.seek-slider {
  width: 270px;
}

input[type="range"] {
  -webkit-appearance: none;
  padding: 0;
  height: 4px;
  outline: none;
  border-radius: 10px;
  background-color: #d0d0d0;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-moz-focus-outer {
  border: 0;
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  top: -3px;
  -webkit-appearance: none;
  border: 1px solid #fff;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  position: relative;
  top: -3px;
  -webkit-appearance: none;
  border: 1px solid #fff;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  position: relative;
  top: -3px;
  -webkit-appearance: none;
  border: 1px solid #fff;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
}

input[type="range"]:active::-ms-thumb {
  transform: scale(1.2);
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  border-radius: 10px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  border-radius: 10px;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  border-radius: 10px;
}

input[type="range"]::-moz-range-progress {
  background-color: #fff;
}

input[type="range"]::-ms-fill-lower {
  background-color: #fff;
}
input[type="range"]::-ms-fill-upper {
  background-color: #d0d0d0;
}

.hidden {
  display: none;
}
